.tyttle {
    font-size: 36px;
    color :blue
}

.text1 {
    color :chartreuse
}

.text2 {
    color :brown
}

.text3 {
    color :aquamarine
}

.text4 {
    color: blueviolet;
}

.text5 {
    color: chocolate;
}